.header {
    margin-top: -70px;
      width: 100%;
      padding: 15px;
      text-align: center;
      z-index: 1000; 
    }
  .h{
      text-decoration: none;
      font-size: larger;
      font-weight: 20px;
      padding: 15px;
      margin-left: 30px;
      color: black;
    }
    .p{
      font-size:50px;
      margin-top:-100px;
      margin-left: 350px;
    }
    .search-container {
      padding: 5px;
      margin-top: 2px;
      margin-left: 30px;
      border: 3px solid #ccc;
      border-radius: 20px;
      font-size: 12px;
      box-sizing: border-box;
      
    }
    .slideshow-container {
      max-width: 100%;
      position: relative;
      margin: auto;
      height: 720px;
      }
      .mySlides {
      display: none;
      width: 100%;
      height: 780px;
      }
      .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      }